@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: "Microsoft JhengHei";
  }
}

.sideNavbar a.active{ color:white;}

.header{
  background: url('./assets/header_bg.jpg');
}

@media screen and (max-width:476px) { 
  .header{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background: url('./assets/mb_header_bg.png');
  }
}